.right-middle__main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    &_row{
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_tag{
            height:70%;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &_image{
                height: 100%;
                width: auto;
                margin-right: 20%;
            }
        }

 

        &_button{
            height: 70%;
            width: auto;
            padding: 0;


        &_image{
            height: 100%;
            width: auto;
        }
        }

    }

}