.goalContainer{
    /* background-color: blueviolet; */
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tagContainer{
   border: 2px solid black;
border-radius: 15px;
}